body {
  font-family: 'Open Sans', sans-serif;
}
div#root,
.App {
  height: -webkit-fill-available;
}

.App {
  text-align: center;
  background-color: #AFD4C0;
  display: flex;
}

.App-logo {
  
}

.App-header {

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
